_OTHER
.DS_STORE
.vscode
.idea

node_modules
commitlint.config.cjs

coverage
npm-debug.log
.npmignore
.husky
.nyc_output
.git
.github
.gitignore
.gitattributes
Dockerfile
docker-compose*
.dockerignore
.prettierignore
.prettierrc
.eslintrc
.eslintignore
.editorconfig
api.http
